<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip" >

    <test name="Regression">
        <classes>
            <class name="org.openweathermap.api.automation.runner.TestRunner"></class>
        </classes>
    </test>
</suite>
        